@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

body {
  --card-background-color: rgba(255, 255, 255, .015);
	--card-border-color: rgba(255, 255, 255, 0.1);
	--card-box-shadow-1: rgba(0, 0, 0, 0.05);
	--card-box-shadow-1-y: 3px;
	--card-box-shadow-1-blur: 6px;
	--card-box-shadow-2: rgba(0, 0, 0, 0.1);
	--card-box-shadow-2-y: 8px;
	--card-box-shadow-2-blur: 15px;
	--card-label-color: #FFFFFF;
	--card-icon-color: #ffffff;
	--card-icon-background-color: rgba(255, 255, 255, 0.08);
	--card-icon-border-color: rgba(255, 255, 255, 0.12);
	--card-shine-opacity: .1;
	--card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
	--card-line-color: #ffffff;
	--card-tile-color: rgba(16, 185, 129, 0.05);
  
	--card-hover-border-color: rgba(255, 255, 255, 0.2);
	--card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
	--card-hover-box-shadow-1-y: 5px;
	--card-hover-box-shadow-1-blur: 10px;
	--card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
	--card-hover-box-shadow-2-y: 15px;
	--card-hover-box-shadow-2-blur: 25px;
	--card-hover-icon-color: #ffffff;
	--card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
	--card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
}

.nftTable {
	display: grid;
	grid-template-columns: repeat(3, 30%);
	position: relative;
	z-index: 1;
	justify-content: space-around;
  row-gap: 20px;
}
  
.card {
	background-color: var(--background-color);
	box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
	padding: 56px 16px 16px 16px;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
	transition: box-shadow .25s;
  
	&::before {
	  content: '';
	  position: absolute;
	  inset: 0;
	  border-radius: 15px;
	  background-color: var(--card-background-color);
	}
  
	.icon {
	  z-index: 2;
	  position: relative;
	  display: table;
	  padding: 8px;
  
	  &::after {
		content: '';
		position: absolute;
		inset: 4.5px;
		border-radius: 50%;
		background-color: var(--card-icon-background-color);
		border: 1px solid var(--card-icon-border-color);
		backdrop-filter: blur(2px);
		transition: background-color .25s, border-color .25s;
	  }
  
	  svg {
		position: relative;
		z-index: 1;
		display: block;
		width: 24px;
		height: 24px;
		transform: translateZ(0);
		color: var(--card-icon-color);
		transition: color .25s;
	  }
	}
  
	h4 {
	  z-index: 2;
	  position: relative;
	  margin: 12px 0 4px 0;
	  font-family: inherit;
	  font-weight: 600;
	  font-size: 14px;
	  line-height: 2;
	  color: var(--card-label-color);
	}
  
	p {
	  z-index: 2;
	  position: relative;
	  margin: 0;
	  font-size: 14px;
	  line-height: 1.7;
	  color: var(--text-color);
	}
  
	.shine {
	  border-radius: inherit;
	  position: absolute;
	  inset: 0;
	  z-index: 1;
	  overflow: hidden;
	  opacity: 0;
	  transition: opacity .5s;
  
	  &:before {
		content: '';
		width: 150%;
		padding-bottom: 150%;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		bottom: 55%;
		filter: blur(35px);
		opacity: var(--card-shine-opacity);
		transform: translateX(-50%);
		background-image: var(--card-shine-gradient);
	  }
	}
  
	.background {
	  border-radius: inherit;
	  position: absolute;
	  inset: 0;
	  overflow: hidden;
	  -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
	  mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  
	  .tiles {
		opacity: 0;
		transition: opacity .25s;
  
		.tile {
		  position: absolute;
		  background-color: var(--card-tile-color);
		  animation-duration: 8s;
		  animation-iteration-count: infinite;
		  opacity: 0;
  
		  &.tile-4,
		  &.tile-6,
		  &.tile-10 {
			animation-delay: -2s;
		  }
  
		  &.tile-3,
		  &.tile-5,
		  &.tile-8 {
			animation-delay: -4s;
		  }
  
		  &.tile-2,
		  &.tile-9 {
			animation-delay: -6s;
		  }
  
		  &.tile-1 {
			top: 0;
			left: 0;
			height: 10%;
			width: 22.5%;
		  }
  
		  &.tile-2 {
			top: 0;
			left: 22.5%;
			height: 10%;
			width: 27.5%;
		  }
  
		  &.tile-3 {
			top: 0;
			left: 50%;
			height: 10%;
			width: 27.5%;
		  }
  
		  &.tile-4 {
			top: 0;
			left: 77.5%;
			height: 10%;
			width: 22.5%;
		  }
  
		  &.tile-5 {
			top: 10%;
			left: 0;
			height: 22.5%;
			width: 22.5%;
		  }
  
		  &.tile-6 {
			top: 10%;
			left: 22.5%;
			height: 22.5%;
			width: 27.5%;
		  }
  
		  &.tile-7 {
			top: 10%;
			left: 50%;
			height: 22.5%;
			width: 27.5%;
		  }
  
		  &.tile-8 {
			top: 10%;
			left: 77.5%;
			height: 22.5%;
			width: 22.5%;
		  }
  
		  &.tile-9 {
			top: 32.5%;
			left: 50%;
			height: 22.5%;
			width: 27.5%;
		  }
  
		  &.tile-10 {
			top: 32.5%;
			left: 77.5%;
			height: 22.5%;
			width: 22.5%;
		  }
		}
	  }
  
	  @keyframes tile {
  
		0%,
		12.5%,
		100% {
		  opacity: 1;
		}
  
		25%,
		82.5% {
		  opacity: 0;
		}
	  }
  
	  .line {
		position: absolute;
		inset: 0;
		opacity: 0;
		transition: opacity .35s;
  
		&:before,
		&:after {
		  content: '';
		  position: absolute;
		  background-color: var(--card-line-color);
		  transition: transform .35s;
		}
  
		&:before {
		  left: 0;
		  right: 0;
		  height: 1px;
		  transform-origin: 0 50%;
		  transform: scaleX(0);
		}
  
		&:after {
		  top: 0;
		  bottom: 0;
		  width: 1px;
		  transform-origin: 50% 0;
		  transform: scaleY(0);
		}
  
		&.line-1 {
		  &:before {
			top: 10%;
		  }
  
		  &:after {
			left: 22.5%;
		  }
  
		  &:before,
		  &:after {
			transition-delay: .3s;
		  }
		}
  
		&.line-2 {
		  &:before {
			top: 32.5%;
		  }
  
		  &:after {
			left: 50%;
		  }
  
		  &:before,
		  &:after {
			transition-delay: .15s;
		  }
		}
  
		&.line-3 {
		  &:before {
			top: 55%;
		  }
  
		  &:after {
			right: 22.5%;
		  }
		}
	  }
	}
	
	
	&:hover {
		h4 {
			opacity: 10%;
		}

		.hoverAppear {
			opacity: 1;
		}

	
	  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
  
	  .background {
		mask-image: linear-gradient(rgba(51, 8, 8, 0.05), transparent);

		.tiles {
		  opacity: 1;
		  transition-delay: .25s;
  
		  .tile {
			animation-name: tile;
		  }
		}
  
		.line {
		  opacity: 1;
		  transition-duration: .15s;
  
		  &:before {
			transform: scaleX(1);
		  }
  
		  &:after {
			transform: scaleY(1);
		  }
  
		  &.line-1 {
  
			&:before,
			&:after {
			  transition-delay: .0s;
			}
		  }
  
		  &.line-2 {
  
			&:before,
			&:after {
			  transition-delay: .15s;
			}
		  }
  
		  &.line-3 {
  
			&:before,
			&:after {
			  transition-delay: .3s;
			}
		  }
		}
	  }
	}
}

.btn,
.btn:focus {
    position: relative;
    z-index: 0;
    min-width: 200px;
    border: 2px solid currentColor;
    border-radius: 48px;
    color: #32098b;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    padding: 10px 20px;
}
.btn:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #32098b;
    border-radius: 3rem;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
}
.btn:hover:after {
    transform: translate(0, 0);
}
.btn:hover {
    border: 2px solid transparent;
    color: #FFFFFF;
    transform: scale(1.05);
    will-change: transform;
}

.hoverAppear{ 
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	font-size:x-large;
	color: white;
	opacity: 0;
	font-family: inherit;
}

@media screen and (max-width: 500px) {
	.nftTable {
		display: grid;
		grid-template-columns: repeat(2, 45%);
		position: relative;
		z-index: 1;
		justify-content: space-around;
	  row-gap: 10px;
	}
}